div {
    background-color: #993366;
    padding-top: 10px;
}

.title {
    color: white;
}

.iconRetour {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.deconnexion {
    position: absolute;
    right: 1%;
    color: white;
}
