
.pageCamera {
    background-color: black;
    margin: 0 auto;
}

.divCapture {
    max-height: 100vh;
}

.video {
    max-width: 100%;
}

.btnFermer {
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    z-index: 2;
    &:active {
        color: rgb(172, 170, 170);
    }
}

.takeShot {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.leTout {
    animation: leZoom 2s infinite alternate ease-in-out;
    -webkit-animation: leZoom 2s infinite alternate ease-in-out;
}*/

@keyframes leZoom {
    from {
        //clip-path: circle(16px);
        height: 40px;
        width: 40px;
    }
    to {
        //clip-path: circle(18px);
        height: 45px;
        width: 45px;
    }
}

.tourBtn {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: thick solid rgba(184, 7, 45, 0.7);
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.btnPhoto {
    //clip-path: circle(16px); bug sur Firefox ?
    border-radius: 50%;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgb(204, 203, 203);
    height: 40px;
    width: 40px;
}

.imgPhoto {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    width: 40px;
    height: 40px;
}

.btnValidation {
    position: absolute;
    bottom: 1%;
    width: 100%;
}

.boutons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton {
    width: 50%;
    height: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.annuler {
    border: none;
    margin: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 2px 3px #999;
    &:active {
        box-shadow: 1px 1px #666;
    }
    background-color: rgb(189, 46, 46);
    &:hover {
        background-color: rgb(151, 43, 43);
    }
}
.valider {
    border: none;
    //box-shadow:inset 0px 0px 15px 3px #235e2d;
    margin: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 2px 3px #999;
    &:active {
        box-shadow: 1px 1px #666;
    }
    background-color: #3ead50;
    &:hover {
        background-color: #30863e;
    }
}

